src/main/webapp/resources/WebserviceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.spring.org/" name="WebserviceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.spring.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.spring.org/" schemaLocation="WebserviceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addUser">
    <part name="parameters" element="tns:addUser"/>
  </message>
  <message name="addUserResponse">
    <part name="parameters" element="tns:addUserResponse"/>
  </message>
  <message name="WebserviceException">
    <part name="fault" element="tns:WebserviceException"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <message name="addDevice">
    <part name="parameters" element="tns:addDevice"/>
  </message>
  <message name="addDeviceResponse">
    <part name="parameters" element="tns:addDeviceResponse"/>
  </message>
  <message name="updateDevices">
    <part name="parameters" element="tns:updateDevices"/>
  </message>
  <message name="updateDevicesResponse">
    <part name="parameters" element="tns:updateDevicesResponse"/>
  </message>
  <message name="addFrauds">
    <part name="parameters" element="tns:addFrauds"/>
  </message>
  <message name="addFraudsResponse">
    <part name="parameters" element="tns:addFraudsResponse"/>
  </message>
  <message name="updateFrauds">
    <part name="parameters" element="tns:updateFrauds"/>
  </message>
  <message name="updateFraudsResponse">
    <part name="parameters" element="tns:updateFraudsResponse"/>
  </message>
  <message name="addRoles">
    <part name="parameters" element="tns:addRoles"/>
  </message>
  <message name="addRolesResponse">
    <part name="parameters" element="tns:addRolesResponse"/>
  </message>
  <message name="updateRoles">
    <part name="parameters" element="tns:updateRoles"/>
  </message>
  <message name="updateRolesResponse">
    <part name="parameters" element="tns:updateRolesResponse"/>
  </message>
  <message name="addUsers">
    <part name="parameters" element="tns:addUsers"/>
  </message>
  <message name="addUsersResponse">
    <part name="parameters" element="tns:addUsersResponse"/>
  </message>
  <portType name="WebservicePort">
    <operation name="addUser">
      <input wsam:Action="http://ws.spring.org/WebservicePort/addUserRequest" message="tns:addUser"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/addUserResponse" message="tns:addUserResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/addUser/Fault/WebserviceException"/>
    </operation>
    <operation name="updateUser">
      <input wsam:Action="http://ws.spring.org/WebservicePort/updateUserRequest" message="tns:updateUser"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/updateUserResponse" message="tns:updateUserResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/updateUser/Fault/WebserviceException"/>
    </operation>
    <operation name="addDevice">
      <input wsam:Action="http://ws.spring.org/WebservicePort/addDeviceRequest" message="tns:addDevice"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/addDeviceResponse" message="tns:addDeviceResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/addDevice/Fault/WebserviceException"/>
    </operation>
    <operation name="updateDevices">
      <input wsam:Action="http://ws.spring.org/WebservicePort/updateDevicesRequest" message="tns:updateDevices"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/updateDevicesResponse" message="tns:updateDevicesResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/updateDevices/Fault/WebserviceException"/>
    </operation>
    <operation name="addFrauds">
      <input wsam:Action="http://ws.spring.org/WebservicePort/addFraudsRequest" message="tns:addFrauds"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/addFraudsResponse" message="tns:addFraudsResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/addFrauds/Fault/WebserviceException"/>
    </operation>
    <operation name="updateFrauds">
      <input wsam:Action="http://ws.spring.org/WebservicePort/updateFraudsRequest" message="tns:updateFrauds"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/updateFraudsResponse" message="tns:updateFraudsResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/updateFrauds/Fault/WebserviceException"/>
    </operation>
    <operation name="addRoles">
      <input wsam:Action="http://ws.spring.org/WebservicePort/addRolesRequest" message="tns:addRoles"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/addRolesResponse" message="tns:addRolesResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/addRoles/Fault/WebserviceException"/>
    </operation>
    <operation name="updateRoles">
      <input wsam:Action="http://ws.spring.org/WebservicePort/updateRolesRequest" message="tns:updateRoles"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/updateRolesResponse" message="tns:updateRolesResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/updateRoles/Fault/WebserviceException"/>
    </operation>
    <operation name="addUsers">
      <input wsam:Action="http://ws.spring.org/WebservicePort/addUsersRequest" message="tns:addUsers"/>
      <output wsam:Action="http://ws.spring.org/WebservicePort/addUsersResponse" message="tns:addUsersResponse"/>
      <fault message="tns:WebserviceException" name="WebserviceException" wsam:Action="http://ws.spring.org/WebservicePort/addUsers/Fault/WebserviceException"/>
    </operation>
  </portType>
  <binding name="WebservicePortBinding" type="tns:WebservicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addDevice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateDevices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addFrauds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateFrauds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="addUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebserviceException">
        <soap:fault name="WebserviceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WebserviceService">
    <port name="WebservicePort" binding="tns:WebservicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

